{
  "root": true,
  "extends": ["eslint:recommended", "plugin:prettier/recommended"],
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "commonjs": true,
    "node": true,
    "es6": true
  },
  "parserOptions": {
    "ecmaVersion": 6
  },
  "rules": {
    "prettier/prettier": ["error", { "singleQuote": true, "trailingComma": "es5" }],
    "no-useless-escape": "off",
    "no-console": "off",
    "strict": ["error", "global"],
    "curly": "warn"
  }
}
